ol.breadcrumb
  li: a(href=baseurl+'dashboard') Dashboard
  li: a(href=baseurl+'dashboard/{{ calendar.url }}') {{ calendar.title }}
  li.active Manage Slots

h1.page-header {{ calendar.title }} 
  small Manage Slots

.row
  .col-md-12
    p
      .btn-group
        button.btn.btn-default(ng-click='prev()'): i.glyphicon.glyphicon-chevron-left
        button.btn.btn-default(ng-click='next()'): i.glyphicon.glyphicon-chevron-right
      
      .btn-toolbar.pull-right
        .btn-group
          button.btn.btn-default(ng-click="save()") Save
        .btn-group
          button.btn.btn-primary(ng-click="saveAndPublish()") Save and Publish

    #calendar
      table.table(float-thead='floatTheadOptions', ng-model='time')
        thead
          tr
            th Time
            th(ng-repeat='day in days') {{ day | date: 'EEE, d/M' }}
        tbody
            tr(ng-repeat='time in times')
              td {{ time }}
              td.slot(ng-repeat='day in days', data-day='{{ day }}', data-time='{{ time }}', ng-click='toggleSlot(day, time, $event)', ng-class='{ "selected": checkIfSelected(day, time) }')