extends layout

block content
  h1 Login
  p We will be redirecting you to SSO-UI for logging in.
  a(href=baseurl+"/sso-login") SSO Login
  p First time? All you need to do is log in &mdash; you will be registered automatically!

block js
  script(type="text/javascript").
    console.log('haha');


