extends layout

block content
  h1 Thank you for using Appointer!
  p Please enter your email address. This will be used for notifications. We won't send you spam, promise.
  p You can change this later in the settings.

  form(action="/register", method="post")
    input(type="email", name="email", placeholder="Email Address")
    input(type="submit", value="Done!")