extends layout

block content
  .container
    .row
      .col-md-12.text-center
    .row
      .col-md-6.col-md-offset-3.text-center
        .panel.panel-default
          .panel-body
            h2 Thank you for using Appointer!
            p Please enter your email address. This will be used for notifications. We won't send you spam, promise.

            form(class="form", action=baseurl+"register", method="post")
              .form-group
                input.form-control.input-lg(type="email", name="email", placeholder="Email Address", required="true")
              .form-group
                input.form-control.btn.btn-primary.input-lg(type="submit", value="Done!")

            p.text-muted You can change this later in the settings.