.row
  .col-md-12
    h1 {{ calendar.title }}
    p {{ calendar.description }}
    p: a(href=baseurl+'/dashboard/{{ calendar.url }}/slots') Manage slots

.row
  .col-md-6.details
    .row
      p.col-md-3: strong Public URL
      p.col-md-9: a(href=baseurl+'/{{ calendar.url }}') {{ calendar.url }}

      p.col-md-3: strong Duration
      p.col-md-9 {{ calendar.duration }}

      p.col-md-3: strong Start Date
      p.col-md-9 {{ calendar.startDate }}

      p.col-md-3: strong End Date
      p.col-md-9 {{ calendar.endDate }}