.row
  .col-md-12
    h1 Dashboard
    p Welcome to your Appointer dashboard!

.row
  .col-md-12
    h3 My Calendars 
      button(type='button', class='btn btn-primary btn-xs', data-toggle='modal', data-target='#new-calendar-modal') Create New

    table(class='table')
      thead
        tr
          th Title
          th URL
          th Operations
      tbody
        tr(ng-repeat='calendar in calendars')
          td {{ calendar.title }}
          td {{ calendar.url }}
          td: a(href='/dashboard/{{ calendar.url }}') Details
        //- tr
        //-   td(colspan='3', class='text-center') No calendars yet. 
        //-     a(href='#', data-toggle='modal', data-target='#new-calendar-modal') Create one now.