h1.page-header Dashboard

.row
  .col-md-12
    p Welcome to your Appointer dashboard!

h2.sub-header My Calendars 
  button(type='button', class='btn btn-primary btn-xs', data-toggle='modal', data-target='#new-calendar-modal') Create New

.row
  .col-md-12
    table.table.table-bordered
      thead
        tr
          th Title
          th URL
          th Status
      tbody
        tr(ng-repeat='calendar in calendars')
          td: a(href=baseurl+'/dashboard/{{ calendar.url }}') {{ calendar.title }}
          td {{ calendar.url }}
          td {{ calendar.published ? 'Published' : 'Not published' }}
        tr(ng-if='!calendars.length')
          td(colspan='3', class='text-center') No calendars yet. 
            a(href='#', data-toggle='modal', data-target='#new-calendar-modal') Create one now.