h1.page-header User Settings
    
.row
  .form-horizontal
    .form-group
      label.col-sm-2.control-label Email Address
      .col-sm-4
        input.form-control(ng-model='form.email', name='email')

.row
  .col-md-6
    p
      button(ng-click='submitPost()', class='btn btn-primary pull-right') Save