.row
  .col-md-12
    h1 Settings
    
.row
  .col-md-2
    label Email Address
  .col-md-4
    input(ng-model='form.email', name='email')

.row
  .col-md-6
    p
      button(ng-click='submitPost()', class='btn btn-primary pull-right') Save