.row
  .col-md-12
    h1 {{ calendar.title }}: Manage Slots
    p Choose your available time!
    
    p
      button.btn.btn-primary(ng-click='prev()') Previous
      button.btn.btn-primary(ng-click='next()') Next

    #calendar
      table.table(float-thead='floatTheadOptions', ng-model='time')
        thead
          tr
            th Time
            th(ng-repeat='day in days') {{ day | date: 'EEE, d/M' }}
        tbody
            tr(ng-repeat='time in times')
              td {{ time }}
              td.slot(ng-repeat='day in days', data-day='{{ day }}', data-time='{{ time }}', ng-click='toggleSlot(day, time, $event)', ng-class='checkIfSelected(day, time) ? "selected" : ""')

  .row
    .col-md-12.text-right
      button.btn.btn-primary(ng-click="save()") Save
      button.btn.btn-success(ng-click="saveAndPublish()") Save and Publish