.row
  .col-md-12
    h1 {{ calendar.title }}: Manage Slots
    p Choose your available time!
    
    p
      button.btn.btn-primary(ng-click='prev()') Previous
      button.btn.btn-primary(ng-click='next()') Next

    div#calendar
      table.table(float-thead='floatTheadOptions', ng-model='time')
        thead
          tr
            th Time
            th(ng-repeat='day in days') {{ day }}
        tbody
            tr(ng-repeat='time in times')
              td {{ time }}
              td.slot(ng-repeat='day in days', data-day='{{ day }}', data-time='{{ time }}', ng-click='toggleSlot(day, time, $event)', ng-class='checkIfSelected(day, time) ? "selected" : ""')

  .row
    .col-md-12.text-right
      button.btn.btn-primary Save
      button.btn.btn-success Save and Publish