.row
  .col-md-12.text-center
    h1.calendar-title {{ calendar.title }}
    p.calendar-description {{ calendar.description }}
    
    p
      .btn-group
        button.btn.btn-default(ng-click='prev()'): i.glyphicon.glyphicon-chevron-left
        button.btn.btn-default(ng-click='next()'): i.glyphicon.glyphicon-chevron-right

    #calendar
      table.table(float-thead='floatTheadOptions', ng-model='time')
        thead
          tr
            th.text-center(ng-repeat='day in days') {{ day | date: 'EEE, d/M' }}
        tbody
            tr(ng-repeat='time in times')
              td.slot(ng-repeat='day in days', data-day='{{ day }}', data-time='{{ time }}', ng-click='clickSlot(day, time, $event)', ng-class='{ "selected": checkIfSelected(day, time) }') {{ time }}

.loader-container(ng-show='isViewLoading')
  .loader.loader-big

#make-appointment-modal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type="button", data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4 Make an Appointment
        p You are making an appointment for <strong>{{ form.slot.date | date: 'EEE, d/M' }}</strong> at <strong>{{ form.slot.time }}</strong>. Please fill in the details below.
      .modal-body
        .form-horizontal.step-one
          .form-group
            label.col-sm-2.control-label Name
            .col-sm-8
              input.form-control(ng-model='form.appointment.name')
          .form-group
            label.col-sm-2.control-label Email
            .col-sm-8
              input.form-control(type='email', ng-model='form.appointment.email')
          .form-group
            label.col-sm-2.control-label Phone
            .col-sm-8
              input.form-control(ng-model='form.appointment.phone')
        .loader-container.loader-container-small(ng-if='processing')
          .loader.loader-small.text-center

      .modal-footer
        button.btn.btn-default(type='button', data-dismiss='modal') Cancel
        button.btn.btn-primary(type='button', ng-click='submit()') Make an Appointment