doctype html
html
  head
    meta(charset='utf-8')
    base(href='/')
    title= title
    link(rel='stylesheet', href=baseurl+'/css/style.min.css')
    block css

  body.public-calendar
    block content

    script(type='text/javascript', src=baseurl+'/js/public.min.js')
    block js