ol.breadcrumb
  li: a(href=baseurl+'dashboard') Dashboard
  li.active Settings

h1.page-header User Settings
    
.row
  form.form-horizontal(name='form', novalidate)
    .form-group
      label.col-sm-2.control-label Email Address
      .col-sm-4
        input.form-control(type='email', ng-model='form.email', name='email')

.row
  .col-md-6
    p
      button(ng-click='submitPost()', class='btn btn-primary pull-right') Save