extends layout

block content
  .body
    .container-fluid
      .row
        .col-md-6.col-md-offset-3
          .row
            .col-md-12
              .panel.panel-default
                .panel-body
                  h1 Cancel Appointment
                  p Your appointment has been cancelled.