extends layout

block content
  .container
    .row
      .col-md-12
        h1 Whoops, 404 Not Found!
        p The page you are looking for is not there. Are you sure there should be something here?
